.wpconsent-iframe-placeholder {
    width: 100%;
}
.wpconsent-iframe-placeholder .wpconsent-iframe-accept-button {
    background-color: #fff;
    color: #000;
    text-wrap: wrap;
}

.lx-wpconsent-blocked-widget > .wpconsent-iframe-placeholder {
    min-height: 300px;
}

.lx-wpconsent-blocked-widget.lx-wpconsent-ratio-placeholder > .wpconsent-iframe-placeholder {
    aspect-ratio: var(--aspect-ratio);
    min-height: 0;
}
